<%- include("../includes/header.ejs", {title:"Resumes - " + result[0].resume_name}); %>
    <h1>Resume</h1>
    <ul>
        <li>Resume Name: <%= result[0].resume_name %></li>
        <li>Skill(s):
            <ul>
                <% for(var i=0; result.length > i; i++ ) { %>
                <li><%= result[i].skill_name + ': ' + result[i].description %></li>
                <% } %>
            </ul>
        </li>
    </ul>

<a href="/resume/all"><< back</a>

<%- include("../includes/footer.ejs"); %>
